.parallax-container {
  height: 400px;
}
#parallaxTop{
  height: 200px;
}
#tagLine{
  font-family:"Lucida Console", Monaco, monospace;
  font-size:15px;
  font-weight:bolder;
  line-height:normal;
}
.radioP{
  display: inline-block;
}
#loading{
  font-family:"Lucida Console", Monaco, monospace;
  font-size:50px;
  font-weight:bold;
  line-height:normal;
  text-align:center;
}
.graphCard{
  height:500px;
  display:block;
  margin:auto;
}
.graphImg{
  width:100%;
  height:400px;
}
.graphLabelP{
  font-family:"Lucida Console", Monaco, monospace;
  font-size:15px;
  font-weight:bolder;
  line-height:normal;
}
#legendDiv{
  height:100px;
}
